@media (max-width:420px) {
    .cabecalho h1 {
        font-size: 20px;
    }

    .container-0 {
        margin: 5px;
        height: 660px;
    }
    
    .container-0 .container-p {
        width: 80%;
        height: 80%;
        justify-content: center;
        align-items: center;
    }

}
