.cabecalho {
    display: flex;
    background-color: aqua;
    height: 70px;
    justify-content: center;
    align-items: center;

}

.container-0 {
    display: flex;
    background-color: cadetblue;
    margin-top: 20px;
    height: 255px;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;

}

.container-0 .container-p {
    display: flex;
    position: relative;
    width: 62%;
    flex-wrap: wrap;
    

    height: 190px;
    border: 1px solid yellow;
    gap: 10px;
}

.container-p .item {
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid blue;
    
}

.blaze {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
    width: 150px;
    font-size: 20px;
    color: rgb(214, 14, 14);
    font-weight: 800;
}

.associados {
    display: flex;
    justify-content: center;
    position: relative;
    
    width: 90%;
    background-color: rgb(155, 207, 10);
}

.win {
    background-color: green;
}

.loss {
    background-color: red;
}